<%- include('templates/htmlHeader.ejs', {webTitle: 'Main'}) %> <%-
include('templates/Navbar.ejs') %>

<div class="container mt-4">
  <h1>Main page</h1>
  <h2><%= description %></h2>
</div>

<%- include('templates/htmlFooter.ejs') %>
